<!doctype html>
<html>
  <head>
  </head>
  <body>
  	<h2>Enter a new driver!</h2>
  	<form method="post" action="/people"> 
      <p><input type="text" name="person[firstname]" placeholder="Driver first name"></p>
      <p><input type="text" name="person[lastname]" placeholder="Driver last name"></p>
      <p><input type="submit" ></p>
    </form>
  </body>
</html>